.container {
  position: relative;
  height: 550px;
}

.form {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 16px 12px;
  margin: 4px 0;
}

.form button {
  width: 100%;
  background-color: #0071c2;
  color: #fff;
  padding: 12px 8px;
  margin-top: 12px;
  border-radius: 5px;
  border: none;
}

.form button:hover {
  cursor: pointer;
  background-color: #387bac;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .form {
    width: 250px;
  }
}
.form {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 50px;
  display: inline-block;
  background-color: rgb(148, 212, 237);
}
.form p {
  margin-top: 10px;
}
